# Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Local environment files
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Crash log files
crash.log

# Ignore IDE/editor files
.vscode/
.idea/
*.iml
.DS_Store